<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <%- include('../layout') %>
  <div class="py-2">
  <a href="/" class="btn btn-success">กลับหน้าเเรก</a>
  </div>
  
  <hr>
  <h2><%= data %></h2>
  <form action="">
     <div class="form-groug">
       <label for="">ชื่อบทความ</label>
       <input type="text" name="name" class="form-control" id="">
     </div>
     <div class="form-groug">
      <label for="">ผู้เขียน</label>
      <input type="text" name="author" class="form-control" id="">
  

    <div class="form-groug">
      <label for="">หมวดหมู่</label>
      <select name="category" id="" class="form-control">
        <option value="นิยาย">นิยาย</option>
        <option value="สารคดี">สารคดี</option>
      </select>
    </div>
    <input type="submit" class="btn btn-primary" name="" id="" value="บันทึก">
  </form>
 
</body>
</html>